<aside class="sidebar">
    <div class="image-container">
      <!-- Optional: <img src="assets/backoffice/sidebar-image.png" class="sidebar-image"> -->
    </div>
    <nav class="menu">
      <!-- Avatar Section -->
      <div class="avatar-container">
        <div class="avatar-circle">
          {{ getAvatarInitials() }}
        </div>
        <div class="user-name">
          {{ currentUser.firstName }} {{ currentUser.lastName }}
        </div>
      </div>
  
      <ul>
        <li>
          <a [routerLink]="['/back/']" routerLinkActive="active">
            <i class="fas fa-sliders-h icon-spaced"></i>
            <span>Dashboard</span>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/back/crudmed']" routerLinkActive="active">
            <i class="fa fa-pills icon-spaced"></i>
            <label>Gestion des médicaments</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/back/stock']" routerLinkActive="active">
            <i class="fa fa-boxes icon-spaced"></i>
            <label>Stock</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/back/commandes']" routerLinkActive="active">
            <i class="fa fa-file-invoice icon-spaced"></i>
            <label>Liste des commandes</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/back/verifcommandes']" routerLinkActive="active">
            <i class="fa fa-tasks icon-spaced"></i>
            <label>Gestion commandes</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/back/fournisseur']" routerLinkActive="active">
            <i class="fa fa-truck icon-spaced"></i>
            <label>Liste des fournisseurs</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/back/crudfournisseur']" routerLinkActive="active">
            <i class="fa fa-industry icon-spaced"></i>
            <label>Gestion des fournisseurs</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/editdoctorprofile']" routerLinkActive="active">
            <i class="fas fa-user-circle icon-spaced"></i>
            <span>Profile</span>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/back/approvalstatus']" routerLinkActive="active">
            <i class="fa fa-check icon-spaced"></i>
            <label>Statut d'approbation</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/back/list-rendez-vous-back']" routerLinkActive="active">
            <i class="fa fa-calendar-check icon-spaced"></i>
            <label>Liste des rendez-vous</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/back/list-consultation-Back']" routerLinkActive="active">
            <i class="fa fa-notes-medical icon-spaced"></i>
            <label>Liste des consultations</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/back/ajouterassistant']" routerLinkActive="active">
            <i class="fa fa-user-nurse icon-spaced"></i>
            <label>Liste des assistants</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/stock']" routerLinkActive="active">
            <i class="fa fa-box icon-spaced"></i>
            <label>Liste des produits</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/commande']" routerLinkActive="active">
            <i class="fa fa-receipt icon-spaced"></i>
            <label>Liste des commandes</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/doctorlist']" routerLinkActive="active">
            <i class="fa fa-user-md icon-spaced"></i>
            <label>Liste des médecins</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/patientlist']" routerLinkActive="active">
            <i class="fa fa-users icon-spaced"></i>
            <label>Patients</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/paiements']" routerLinkActive="active">
            <i class="fa fa-credit-card icon-spaced"></i>
            <label>Paiements</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/addprescription']" routerLinkActive="active">
            <i class="fa fa-paper-plane icon-spaced"></i>
            <label>Ajouter des ordonnances</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/prescriptions']" routerLinkActive="active">
            <i class="fa fa-list icon-spaced"></i>
            <label>Liste des ordonnances</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/consulter-conges']" routerLinkActive="active">
            <i class="fa fa-calendar-times icon-spaced"></i>
            <label>Liste des congés</label>
          </a>
        </li>
  
        <li>
          <a [routerLink]="['/']" routerLinkActive="active">
            <i class="fas fa-sign-out-alt icon-spaced"></i>
            <label>Log out</label>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  