<!-- Bande supérieure -->
<div class="header-glass">
  <div class="header-content">
    <h1>Médecin Dashboard</h1>
    <div class="header-right">
      <a routerLink="/dashboard" class="btn-accueil">ACCUEIL</a>
      <span class="welcome">Bienvenue, {{ doctorName }}</span>
    </div>
  </div>
</div>

<div class="manage-container">
  <h2><i class="fas fa-pen"></i> Créer un Nouveau Post</h2>

  <form (ngSubmit)="onSubmit()" class="contact-form-wrap">
    <div class="form-group">
      <label for="title">Titre :</label>
      <input type="text" id="title" [(ngModel)]="title" name="title" required class="form-control" />
    </div>

    <div class="form-group">
      <label for="content">Contenu :</label>
      <textarea id="content" [(ngModel)]="content" name="content" required class="form-control"></textarea>
    </div>

    <button type="submit" class="btn-green">Créer</button>
  </form>
</div>

<app-footer-back></app-footer-back>
