app-footer {
    background: linear-gradient(to right, #0e5551, #23ad9b);
    color: white;
    font-family: 'Staatliches', sans-serif;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  }
  